.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.title pre:first-child {
  font-size: 3em;
}

.title pre {
  line-height: 0.3em;
  margin-top: 2px;
  font-size: 2em;
}

.canvas {
  text-align: center;
}

.sword-fighter {
  font-family: "Courier New", "Courier", monospace;
  font-size: 5em;
  letter-spacing: -0.2em;
  display: none;
  margin: 0 10px;
  position: relative;
  -webkit-transition: left 700ms ease-in-out;
}

.sword-fighter .frame {
  display: none;
}
