.sword-fighter {
  font-family: "Courier New", "Courier", monospace;
  font-size: 5em;
  letter-spacing: -0.2em;
  display: none;
  margin: 0 10px;
  position: relative;
  -webkit-transition: left 700ms ease-in-out;
}

.sword-fighter .frame {
  display: none;
}
